 @import url(https://fonts.googleapis.com/css?family=Noticia+Text);
 /* Desktop */
 
 @media screen and (min-width: 769px) {
   main {
     text-decoration: none;
     background: #1C618C;
     font-family: 'Noticia Text', serif;
     width: 90%;
     margin-left: 5%;
     margin-right:5%;
   }
   Header {
     padding-top: .5%;
     text-align: center;
     margin-bottom: 2%;
   }
   Header h1 {
     font-size: 50px;
     margin-bottom: .5%;
   }
   a:link,
   a:visited {
     margin-right: 1%;
     margin-left: 1%;
     text-decoration: none;
     color: #000;
   }
   a:hover {
     background: #7Ca687;
     color: white;
     transition: background, color .8s;
   }
   .parent {
     padding-right: 5px;
     margin-right: 8%;
     width: 27%;
     float: right;
/*      height 10%; */
   }
   
   .parent img{
     width: 100%;
   }

   .parent:hover {
     background: #024059;
   }
   .BGInfo {
     float: left;
     width: 52%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 2%;
     padding-bottom: .5%;
     background: #024059;
   }
   .ProObj{
     float: left;
     width: 54%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 1%;
     padding-bottom: .5%;
     background: #024059;
   }
   
   .Skills {
     float: left;
     width: 54%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 1%;
     padding-bottom: .5%;
     background: #024059;
   }
   
   Footer {
     clear: both;
     text-align: right;
     font-size: 20px;
   }
 }
 /* End Desktop view */

/* Mobile view */
@media screen and (min-width: 320px) {
   main {
     text-decoration: none;
     background: #024059;
     font-family: 'Noticia Text', serif;
     width: 90%;
     margin-left: 5%;
     margin-right:5%;
   }
   Header {
     padding-top: .5%;
     text-align: center;
     margin-bottom: 2%;
   }
   Header h1 {
     font-size: 50px;
     margin-bottom: .5%;
   }
   a:link,
   a:visited {
     margin-right: 1%;
     margin-left: 1%;
     text-decoration: none;
     color: #000;
   }
   a:hover {
     background: #7Ca687;
     color: white;
     transition: background, color .8s;
   }
   
   .parent img{
     display: block;
    margin-left: auto;
    margin-right: auto;
   }

   .parent:hover {
     background: #024059;
   }
   .BGInfo {
     width: 52%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 2%;
     padding-bottom: .5%;
     background: #1C618C;
   }
   .ProObj{
     width: 54%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 1%;
     padding-bottom: .5%;
     background: #024059;
   }
   
   .Skills {
     width: 54%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 1%;
     padding-bottom: .5%;
     background: #024059;
   }
   
   Footer {
     text-align: right;
     font-size: 20px;
   }
}
/* End Mobile View */

/* Phablet View */
@media screen and (min-width: 320px) {
  main {
     text-decoration: none;
     background: #1C618C;
     font-family: 'Noticia Text', serif;
     width: 90%;
     margin-left: 5%;
     margin-right:5%;
   }
   Header {
     padding-top: .5%;
     text-align: center;
     margin-bottom: 2%;
   }
   Header h1 {
     font-size: 50px;
     margin-bottom: .5%;
   }
   a:link,
   a:visited {
     margin-right: 1%;
     margin-left: 1%;
     text-decoration: none;
     color: #000;
   }
   a:hover {
     background: #7Ca687;
     color: white;
     transition: background, color .8s;
   }
   .parent {
     padding-right: 5px;
     margin-right: 8%;
     width: 27%;
     float: right;
/*      height 10%; */
   }
   
   .parent img{
     width: 100%;
   }

   .parent:hover {
     background: #024059;
   }
   .BGInfo {
     float: left;
     width: 52%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 2%;
     padding-bottom: .5%;
     background: #024059;
   }
   .ProObj{
     float: left;
     width: 54%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 1%;
     padding-bottom: .5%;
     background: #024059;
   }
   
   .Skills {
     float: left;
     width: 54%;
     margin-left: 4%;
     padding-left: 1%;
     margin-top: 2%;
     padding-top: .5%;
     margin-right: 4%;
     padding-right: 1%;
     padding-bottom: .5%;
     background: #024059;
   }
   
   Footer {
     clear: both;
     text-align: right;
     font-size: 20px;
   }
 }
}
/* End Phablet View */